#error-message {
    color: red;
}

.form-container-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 450px;
}

.form-signup {
    display: flex;
    justify-content: space-between;
}

.label-signup {
    display: flex;
    flex-direction: column;
}

.submit-signup {
    background-color: red;
    padding: 2%;
    padding-left: 8%;
    padding-right: 8%;
}