#groups {
    margin: 0;
    padding: 0;
}

#group-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    column-gap: 50px;
    width: 100%;
}

#group-displayer {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    max-height: fit-content;

    .group-image {
        display: flex;
        justify-content: center;
        border: 5px solid;
        border-radius: 10px;
        overflow: hidden;
        width: 350px;
        height: 250px;

        img {
            width: 250px;
            height: 250px;
        }

    }

    #group {
        width: 700px;
        height: 250px;
    }
}

#group-displayer:hover {
    cursor: pointer;
}

#link {
    margin-top: 30px;
    background-color: none;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

#group-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 50px;
    width: 100%;
    background-color: rgb(64, 255, 137);
}

#group-view {
    margin: 1% 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;

    * {
        margin: 1% 10%;
        padding: 0;
    }
}


#left-group {
    display: flex;
    flex-direction: column;
}

#right-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.group-events {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.group-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border: 5px solid;
    background-color: rgb(223, 22, 0);
    color: white;
    border-color: black;
    font-size: medium;
    box-shadow: 2px 2px 2px black;

}


.group-button:hover {
    cursor: pointer;
    background-color: red;
}

.events-privacy {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
        margin: 0;
        padding: 0;
    }
}


.manage-button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: 3px solid;
    background-color: darkgray;
    color: white;
    border-color: rgb(89, 247, 134);
    font-size: small;
    box-shadow: black 3px 3px;
}

.manage-button:hover {
    cursor: pointer;
    background-color: rgb(124, 107, 107);
}

#back-button {
    text-decoration: none;
    color: black
}

#form {
    margin: 1% 15%;
}

#form>h4 {
    color: blue;
}

form {
    display: flex;
    flex-direction: column;
}

#submit {
    position: relative;
    height: 50px;
    width: 130px;
    box-shadow: rgba(10, 196, 50, 0.815) 5px 5px .1rem;
    background-color: red;
    color: white;
    border: solid 3.5px;
    border-radius: .25rem;
    border-color: grey;
}

#submit:hover {
    background-color: rgb(196, 0, 0);
    color: lightgray;
}

#submit:focus {
    background-color: rgb(196, 0, 0);
    color: lightgray;
    box-shadow: none;
}

.xSmall {
    height: 20px;
    width: 175px;
    text-wrap: wrap;
}

.small {
    height: 20px;
    width: 400px;
    text-wrap: wrap;
}

.large {
    resize: none;
    scrollbar-width: none;
    width: 300px;
    height: 100px;
}

.align-dot {
    display: flex;
    align-self: center;
    justify-content: center;
}

#groups-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#description {
    display: flex;
    flex-direction: column;
    max-width: 1000px;

}

.group-header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 500px;
}