.hidden {
    display: none;
}

#overall-bar {
    background-color: rgb(95, 237, 77);
    margin: 0;
    padding: 0;
}

.navbar {

    display: flex;
    flex-direction: row;
    background-color: rgb(103, 120, 102);
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;

    .nav {
        gap: 100px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: end;

        #logged-out {
            gap: 100px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: end;
        }

        img {
            max-height: 100px;
        }

        #logged-in {
            display: flex;
            flex-direction: row;

            .profile-button {
                width: fit-content;
                height: 50px;
                display: flex;
                align-self: center;
            }
        }

    }

}

#logged-options {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    column-gap: 50px;
}


#auth-buttons {
    display: flex;
    align-content: center;
    column-gap: 20px;
}

#loggedButton>button {
    width: 75px;
    height: 35px;
}

.profile-dropdown>button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.profile-dropdown>button>* {
    font-size: larger;
}

.profile-dropdown-content-hide {
    display: none;
    position: absolute;
    width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
}

.profile-dropdown-content-show {
    top: 8%;
    position: fixed;
    width: fit-content;
    overflow: auto;
    text-align: end;
    background-color: rgb(22, 189, 122);
    display: block;
    flex-direction: column;
    justify-self: end;
    right: 10%;
    border: black 3px solid;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: start;
    gap: 10px;
    justify-items: space-between;
}

.profile-dropdown-content>* {
    display: block;
    color: #000000;
    text-decoration: none;
}

#modal-options {
    display: flex;
    flex-direction: column;
}